body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #333;
}

.dashboard {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 9em 0;
  display: flex;
}

.dashboard-content {
  display: flex;
  gap: 24px;
  width: 100%;
}

.dashboard-left {
  flex: 1;
  padding: 20px;
  background-color: #2c2c2c;
}

.dashboard-right {
  flex-basis: 300px;
  padding: 20px; 
}

.accounts, .transactions, .management-links {
   width: 100%;
}

.accounts, .transactions, .management-links {
  width: 100%;
}

.management-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.management-links li {
  width: 100%;
  margin: 5px 0;
}

.management-links a {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: white;
  color: #4caf50;
  text-decoration: none;
  border-radius: 4px;
}

.dashboard h2, .dashboard h3 {
  margin: 0 0 20px 0;
  padding: 0;
  color: #4caf50;
}

.accounts ul, .transactions ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.accounts li, .transactions li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #2c2c3e;
  border-radius: 4px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #4caf50;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .dashboard-content {
      padding: 10px;
      flex-direction: column;
      gap: 16px;
  }

  .dashboard-right {
      flex-basis: auto;
      margin-left: 0;
      padding: 10px;
      width: auto;
      box-shadow: none;
      background-color:#333;
    }
}
